.main-body{
    background-image: url(background\ \(2\).jpg);
    height: 661px;
    padding-top: 6px;
    margin: -8px;
}
.calc{
    width: 320px;
    height: 590px;
    background: #171716;
    margin-left: 510px;
    margin-top: 31px;
    border-radius: 15px;
}
#output-screen{
    width: 318px;
    height: 177px;
    font-size: 20px;
    color: aliceblue;
    text-align: right;
    border-radius: 15px;
    border: 0px;
    border-color: #171716;
    background: #171716;
    pointer-events: none;
}
.btn{
    width: 70px;
    height: 68px;
    font-size: 38px;
    color: white;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-bottom: 1px;
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 12px;
    border-radius: 26px;
    border: 0px solid;
    background: #242424;
    cursor: pointer;
}
.oprtr-btn-color{
    background: #ff9500;
}
.footerpart{
    width: 100%;
    height: 115px;
    background: #242424;
    margin-top: 40px;
}
.insta{
    color: white;
    margin-top: 28px;
    margin-left: 615px;
    font-size: 27px;
}
.github{
    color: white;
    font-size: 27px;
    margin-left: 10px
}
.twitter{
    color: white;
    font-size: 27px;
    margin-left: 10px
}
.socialmedia:hover{
    color: #ff9500;
}
.para{
    color: white;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-left: 603px;
    margin-top: 15px;
}
.name{
    color: #ff9500;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
